<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="codice ">Codice</label>
                <input [(ngModel)]="article.code" class="form-control" id="codice" name="codice" />
            </div>
            <div class="form-group">
                <label for="descrizione">Descrizione</label>
                <input [(ngModel)]="article.description" class="form-control" id="descrizione" name="descrizione" />
            </div>
            <div class="form-group">
                <label for="prezzo">Prezzo</label>
                <input [(ngModel)]="article.price" class="form-control" id="prezzo" name="prezzo" />
            </div>
            <div>
                <button type="submit" class="btn btn-success" (click)="doSaveArticle()">Save Article</button>
                <button type="button" class="btn btn-normal" (click)="doCancel()">Cancel</button>
            </div>
        </form>

    </div>
</div>