		<form class="form" name="myForm" method="POST" action="/customers">				
			<h2>New Customer</h2>		
			<div class="row">			
				<div class="col-md-2">
					First name: 
				</div>
				<div class="col-md-10">			
					<input name="firstName">
				</div>
			</div>
			
			<div class="row">			
				<div class="col-md-2">
					Last name: 
				</div>
				<div class="col-md-10">			
					<input name="lastName">
				</div>
			</div>
			
			<div class="row">			
				<div class="col-md-12">
					<button type="submit">Save</button>
				</div>
			</div>
		</form>		
