<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" (ngSubmit)="doLogin()">
            <span id="reauth-email" class="reauth-email"></span>
            <input [(ngModel)]="user.username" type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
            <input [(ngModel)]="user.password" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <div>{{message}}</div>
        </form>
        <!-- /form -->
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->