.body {
  color: aquamarine;
}

.error {
  color: red;
  margin: 0.5rem;
  display: block;
}

.errors {
  padding: 1rem;
  background-color: lightblue;
  margin: 1rem;
  max-width: 50%;
}


h3 {
  text-align: center;
  padding: 0.3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}